* {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

.container {
  width: 100%;
}

.container .box {
  width: 150px;
  height: 100px;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container .box-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container::after {
  clear: both;
  display: table;
  content: "";
}

footer {
  padding: 10px;
  text-align: center;
}

.bg_orange {
  background-color: orange;
}

.bg_purple {
  background-color: purple;
}

.bg_coral {
  background-color: coral;
}

.bg_lightblue {
  background-color: lightblue;
}

